{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="card"><br>
            <div class="card-title">
                <h2 style="text-align: center;">AWWWARDS</h2>
            </div>
            <p style="text-align: center;">Are you a member <a href="{%url 'login'%}">Login now</a></p>
            
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn">CREATE YOUR ACCOUNT</button>
                </form>
            </div>
           

        </div>

    </div>
</div>

{% endblock %}
