{% load static %}
{% load bootstrap4 %}
{% block styles %}
{% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
{% endblock %}
  
{% block content %}

<!--Navbar1-->
<nav class="nav1">
    <h4>The award of design,creativity and innovation on the internet</h4>

    <div class="icons">
        <a class="nav-item nav-link ml-auto social" href="https://www.instagram.com/awwwards/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a class="nav-item nav-link ml-auto social" href="https://twitter.com/awwwards" target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="nav-item nav-link ml-auto social" href="https://www.facebook.com/awwwards/" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
</nav>

<!--Navbar-->
<nav class="nav2 navbar-expand-lg">
    <a href="{%url 'logout'%}">Logout</a>
    <a class="navbar-brand" style="color: black;" href="{%url 'index' %}"><img src="/static/Images/logo.png"></a>

    <div class="login">
        <a href="{%url 'profile'%}">MY PROFILE</a>
        <a href="{%url 'register'%}" style="position: relative; left: 40px;">Register</a>
        <a href="{%url 'login'%}"style="position: relative; left: 60px;">Login</a>
    </div>
    <a href="{%url 'new_project'%}"><button type="submit" class="btn btn-primary btn-sm">SUBMIT YOUR SITE</button></a>

</nav>

<body>
    <!--First jumbo-->
    <div class="intro" >             
            <h3></h3>
           <p class="logos white-text " id="one" style="padding: 20px; border: 2px solid #F44336;border-radius:200px;font-weight:bolder;font-size: 30px;">DESIGN</p>
           <p class="logos white-text "  id="two"  style="padding: 20px; border: 2px solid #FFA726;border-radius:200px;font-weight:bolder; font-size: 30px;">USABILITY</p>
           <p class="logos white-text " id="three" style="padding: 20px;border: 2px solid #00ACC1;border-radius:200px;font-weight:bolder; font-size: 30px;">CONTENT</p>
       
    </div>
    <br>
    <!--display projects-->
    
    <div class="container">
        <h2 style="text-align: center; font-size: 50px;">TOP SITES</h2>
        <div class="row">
            {% for project in myProjects %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width:20rem;height:23rem;">
                    <div class="card-body">
                        <img class="card-img-top"src = "{{ project.image_landing.url }}" style="height:200px;"/>
                        <br><br>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Posted : {{project.pub_date|date:"F d,Y"}}</small>
                        </div>
                        <a href=""><h5 class="strong-text"> <strong>{{project.title}}</strong> </h5> </a> <hr class="bg-info">
                        <a href="{%url 'profile'%}"><h6>By:{{project.profile}}</h6></a>
                    </div>  
                </div> 
            </div>     
            {% endfor %} 
        </div>

        <div class="footer"></div>
    </div>

    
</body>
{%endblock%}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

