{%extends 'index.html'%}
{%load bootstrap4%}
{%block content%}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-5">
        <div class="card text-center" style="position: relative; right: 30px;">
            <div class="card-body">
                <h1 class="text-center">Upload Site</h1><br>
                <br>
                <marquee direction="up" scrollamount='2' style="position: relative; right: 200px; font-size: 30px;">POST IT!</marquee>
                <marquee direction="up" scrollamount='2' style="position: relative; left: 650px; bottom: 30px; font-size: 30px;">POST IT!</marquee>
                <form action="{% url 'new_project' % }" method="POST" style="color:peru;" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class=" form-group">
                            <input type="submit" class="btn btn-primary text-center" value="Upload" style="text-align:center;"><br><br>
                            <a href="{%url 'index'%}"><button class="btn btn-danger">BACK HOME</button></a>
                        </div>
                        {{form.media}}
                </form>
                <marquee direction="up" scrollamount='2' style="position: relative; right: 200px; font-size: 30px;">POST IT!</marquee>
                <marquee direction="up" scrollamount='2' style="position: relative; left: 650px; font-size: 30px; bottom: 40px;">POST IT!</marquee>
            </div>

        </div>
       
    </div>
    
   
</div>

{%endblock%}