.nav1{
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}
body{
    font-family: 'Rye', cursive;
    background-color: whitesmoke;
}
h4{
    font-size: 15px;
    position: relative;
    left: 550px;
    
}
.icons{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.nav2{
    background-color: powderblue;
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.login{
    display: flex;
    justify-content: space-between;
}


img{
    width: 150px;
}

.section{
    width: 400px;
    position: relative;
    left: 550px;
    text-align: center;
}
.intro{
    background-image:url('https://picsum.photos/200/300/?blur');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1525px;
    height: 500px;
    color: black;
}
.logos{
    width: 250px;
    text-align: center;
}

#one{
    position: relative;
    left: 50px;
    top: 200px;
}

#one:hover{
    background-color: #F44336;
}

#two{
    position: relative;
    left: 600px;
    top: 100px;
}
#two:hover{
    background-color: #FFA726;
}

#three{
    position: relative;
    left: 1200px;
    
}
#three:hover{
    background-color: #00ACC1;
}

.btn-info{
    background-color: #100e17;
}

