.nav1{
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}
body{
    font-family: 'Rye', cursive;
}
h4{
    font-size: 15px;
    position: relative;
    left: 550px;
    
}
.icons{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.nav2{
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

img{
    width: 150px;
}

.section{
    width: 400px;
    position: relative;
    left: 550px;
    text-align: center;
}
